body {
    
}

.header {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #006ea7;
    color: white;
}
p, li {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.010em;
    line-height: 1.6em;
}

p {

}

h1 {
    font-size: 3.400rem;
    font-weight: 400;
    line-height: 4rem;
    margin: 0;
    padding: 0;
}

.col-xs-1 {
    width: 13.5% !important;
    
}
.scoring-categories-individual {
    width: 12%;
    margin: auto;
}

.scoring-categories-section {
    margin-top:30px;
    padding-left: 100px;
    padding-right: 70px;
}

.content {
    max-width: 800px;
    margin: auto;
}

.input-text {
    margin:auto;
    width: 100%;
    font-size: 120%;
    display: block;
    border-radius: 5px;
    border-color: darkgray;
}

.row {
    width: 100%;
    margin: 0;
    padding: 0;
}

.input-section {
    padding: 0;
}

.paragraph {
    margin: 5px;
    margin-top: 20px;
}


#youtube_video {
    width: 70%;
    height: 420px;
    margin: auto;
    display: block;
    margin-top:30px;
}


#text_classification_logo {
    height: 80px;
    margin-right: 10px;
    padding-bottom: 10px;
}

#logo_header {
    height: 50px;
}

.first-row {
    margin-top:30px;
    margin-bottom:30px;
}

#review_button {
    height:150px;
    padding:10px;
    margin-top: 20px;
    cursor: pointer;
}

.category-box {
    margin-bottom: 20px;
}

.category-text {
    text-align: center;
    margin-top: 5px;

    font-size: 100%;
    font-weight: 400;
    line-height: 1.2;
}

.bar-container {
    border: solid 1px mediumseagreen;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (max-width: 600px) {
    #youtube_video {
        padding: 0;
        height: 360px;
        width: 100%;
    }
    .category-box {
        margin-bottom: 0px;
        padding: 5px;
    }

    .category-text {
        font-size: 90%;
    }

    #review_button {
        margin-top: 0px;
    }
    .first-row {
        margin-top: 0px;
        margin-bottom: 5px;
    }

    #text_classification_logo {
        height: 50px;
        margin-right: 3px;
        padding-bottom: 10px;
    }

    .scoring-categories-section{
        padding: 0;
        margin-top: 5px;
    }
    #logo_header {
        height: 30px;
    }

    h1 {
        font-size: 175%;
    }
}

.bold {
    font-weight: bold;
}
.scoring-positive {
    float:right; 
    color: white;
    background-color:mediumseagreen;
    text-align: right;
}

.scoring-bar {
    width:100%; 
    height:20px
}


.scoring-sentiment-section {
    margin: 20px;
    margin-top: 80px;
}


img {
    vertical-align: middle;
}

div {
    -webkit-transition: width 1s, height 4s; /* Safari */
    transition: width 1s, height 4s;
}